<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- TWITTER CARDS -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="The Wall" />
    <meta name="twitter:creator" content="@SrsMediaGroup" />
    <meta name="og:url" content="http://TheWall.ovh" />
    <meta name="og:title" content="The Wall" />
    <meta name="og:dedscription" content="Definitly the best guild of WoW" />
    <meta name="og:image" content="https://cdn.ashtriona.com/WoWScrnShot_080419_213021%20%281%29.png" />
    
    <!-- SEO!!!!!!! D: -->
    <meta name="title" content="The Wall">
    <meta name="description" content="The Wall, arguably the best World of warcraft guild there is, is a group of friends that met at the Auction House Dance Party. No dungeon or raid boss is safe from the wrath we bring to the enemies of our lord.">
    <meta name="keywords" content="World, of, warcraft, team, guild, EU, Server, Sirius, SiriusHD, Asthriona, Media, Group, Equipe, EN, English, anglais, serveur, Discord, Demon, hunter, DPS, Tank, Paladin, Space, Goat, GoatLife, Acrylix, Vik, taegwynn, FrienndsFor, Heal, druid, Corv, Auction, House, The Wall, Blizzard, Rainboom, Studio">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Asthriona">
    
</head>
<body>
    {{{ body }}}
    <footer>
        © Copyright <a href="https://SiriusMediaGroup.com">Sirius Media Group LLC</a> All Right Reserved. 2013 - <script type="text/javascript">document.write(new Date().getFullYear());</script>
    </footer>
    <script src="/javascripts/hello.js"></script>
</body>
</html>