<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- TWITTER CARDS -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="The Wall" />
    <meta name="twitter:creator" content="@SrsMediaGroup" />
    <meta name="og:url" content="http://TheWall.ovh" />
    <meta name="og:title" content="The Wall" />
    <meta name="og:dedscription" content="Definitly the best guild of WoW" />
    <meta name="og:image" content="https://cdn.ashtriona.com/WoWScrnShot_080419_213021%20%281%29.png" />
</head>
<body>
    {{{ body }}}
    <footer>
        © Copyright <a href="https://SiriusMediaGroup.com">Sirius Media Group LLC</a> All Right Reserved. 2019 - 2020
    </footer>
    <script src="/javascripts/hello.js"></script>
</body>
</html>