    <div class="who">
    <div class="textbg">
        <center>
            <h1>Who Are We?</h1>
            <p>
                The Wall, arguably the best guild there is, is a group of friends that met at the Auction House Dance Party.
                Our home is the Stormwind Auction House, where we meet regularly to pray to our lord and saviour, the Wall.
                Through the powers granted by the Wall we are an unstoppable force, fielding immortal tanks, inexhaustible healers and unparalleled DPS.
                No dungeon or raid boss is safe from the wrath we bring to the enemies of our lord. 
                Many Horde heretics that tried to defile the Wall and bring chaos to the sacred Auction House have died at our hand.
                We stand vigil since 22/07/19 and became an official guild on 05/08/19. 
            </p>
        </center>
    </div>
    </div>
    <div class="textbg">
        <center>
            <p></p>
                <div class="team">
                        <div class="container">
                        <div class="row">
                            <div class="column">
                              <div class="card">
                                <a href="https://worldofwarcraft.com/en-gb/character/eu/magtheridon/allinaya" target="blank_0">
                                  <img src="https://cdn.siriushd.net/sirius1.jpg" alt="Sirius" style="width:100%">
                                </a>
                                <div class="container">
                                  <h2>Asthriona</h2>
                                  <p class="title">DPS, Deamon Hunter<br>
                                  (DDR Champion)</p>
                                </div>
                              </div>
                            </div>
                          
                            <div class="column">
                              <div class="card">
                                <a href="https://worldofwarcraft.com/en-gb/character/eu/magtheridon/Acrylin" target="blank_1">
                                <img src="https://cdn.siriushd.net/acry1.jpg" alt="Acry" style="width:100%">
                                </a>
                                <div class="container">
                                  <h2>Acrylix</h2>
                                  <p class="title">Heal/DPS, Paladin <br>(Space Goat)</p>
                                </div>
                              </div>
                            </div>
                          
                            <div class="column">
                              <div class="card">
                              <a href="https://worldofwarcraft.com/en-gb/character/eu/magtheridon/taegwynn" target="blank_2">
                                <img src="https://cdn.siriushd.net/vik1.jpg" alt="Vik" style="width:100%">
                              </a>
                                <div class="container">
                                  <h2>Vik</h2>
                                  <p class="title">Tank, paladin <br>(Also Space Goat)</p>
                                </div>
                              </div>
                            </div>
                        
                            <div class="column">
                              <div class="card">
                              <a href="https://worldofwarcraft.com/en-gb/character/eu/magtheridon/friendsfor" target="blank_3">
                                <img src="https://cdn.siriushd.net/fri1.jpg" alt="Fri" style="width:100%">
                              </a>
                                <div class="container">
                                  <h2>FriendFor</h2>
                                  <p class="title">heal, Druid <br>(Male Stripper)</p>
                                </div>
                              </div>
                            </div>
                        
                            <div class="column">
                                <div class="card">
                                <a href="https://worldofwarcraft.com/en-gb/character/eu/magtheridon/pacce" target="blank_4">
                                  <img src="https://cdn.siriushd.net/Corv1.jpg" alt="Corv" style="width:100%">
                                </a>
                                  <div class="container">
                                    <h2>Corv</h2>
                                    <p class="title">Heal/DPS, Druid <br>(AH Door Lover)</p>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                        </div>
        </center>
    </div>