<!--The Header-->
    <section>
        <header class="header content text-center">
            <div class="header-content-inner hoverable">
            <h1>The Wall</h1>
            <h2>Definitly the best guild of WoW</h2>
            </div>
        </header>
    </section>
    <!-- Who We are? -->
    <section class="who">
        <h1 class="title">Who are we?</h1>
        <p>
            The Wall, arguably the best guild there is, is a group of friends that met at the Auction House Dance Party.<br>
            Our home is the Stormwind Auction House, where we meet regularly to pray to our lord and saviour, the Wall.<br>
            Through the powers granted by the Wall we are an unstoppable force, fielding immortal tanks, inexhaustible healers and unparalleled DPS.<br>
            No dungeon or raid boss is safe from the wrath we bring to the enemies of our lord. <br>
            Many Horde heretics that tried to defile the Wall and bring chaos to the sacred Auction House have died at our hand.<br>
            We stand vigil since 22/07/19 and became an official guild on 05/08/19.<br>
        </p>
        <p>
            We protect the Wall.<br>
            And the Wall protects us.<br>
            <b>&mdash; PRAISED BE THE WALL &mdash;</b>
        </p>
    </section>

    <!--Team-->
    <div class="team">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="card hoverable active">
                        <a href="https://worldofwarcraft.com/en-gb/character/eu/magtheridon/Alestra" target="_blank">
                        <img src="https://cdn.asthriona.com/asthri2.jpg" alt="Asthriona" style="width:100%;" >
                        </a>
                        <div class="container">
                            <h3>Asthriona</h3>
                            <p class="title">Main Tank, paladin<br>
                            (DDR Champion)</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card hoverable active">
                        <a href="https://worldofwarcraft.com/en-gb/character/eu/magtheridon/Acrylin" target="_blank1">
                        <img src="https://cdn.asthriona.com/acry2.jpg" alt="Acrylix" style="width:100%;" >
                        </a>
                        <div class="container">
                            <h3>Acrylix</h3>
                            <p class="title">Second Tank/DPS, Palain<br>
                            (Space Goat)</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card hoverable active">
                        <a href="https://worldofwarcraft.com/en-gb/character/eu/magtheridon/taegwynn" target="_blank2">
                        <img src="https://cdn.asthriona.com/vik1.jpg" alt="Vik" style="width:100%;" >
                        </a>
                        <div class="container">
                            <h3>Vik</h3>
                            <p class="title">Second Tank/heal, Palain<br>
                            (Also Space Goat)</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card hoverable active">
                        <a href="https://worldofwarcraft.com/en-gb/character/eu/magtheridon/friendsfor" target="_blank3">
                        <img src="https://cdn.asthriona.com/fri2.jpg" alt="FriendForAll" style="width:100%;" >
                        </a>
                        <div class="container">
                            <h3>FriendFor</h3>
                            <p class="title">Main Heal, Druid<br>
                            (Male Stripper)</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="column">
                </div>
                <div class="column">
                    <div class="card hoverable na">
                        <a href="https://worldofwarcraft.com/en-gb/character/eu/magtheridon/pacce" target="_blank4">
                        <img src="https://cdn.asthriona.com/Corv1.jpg" alt="Corv" style="width:100%;" >
                        </a>
                        <div class="container">
                            <h3>&#60;Away&#62; Corv</h3>
                            <p class="title">Heal/DPS, Druid<br>
                            (AH Door Lover)</p>
                        </div>
                    </div>
                </div>
                 <div class="column">
                    <div class="card hoverable na">
                        <a href="https://worldofwarcraft.com/en-gb/character/eu/magtheridon/Azetia" target="_blank5">
                        <img src="https://cdn.asthriona.com/az1.2.jpg" alt="Corv" style="width:100%;" >
                        </a>
                        <div class="container">
                            <h3>&#60;Away&#62; Azmerhos</h3>
                            <p class="title">Heal/DPS, Paladin<br>
                            (Weeb.)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>