    <div class="who">
        <div class="textbg">
            <center>
                <div style="position: relative;margin-top:50px;margin-bottom:50px;">
                    <img src="https://cdn.asthriona.com/0852977b1d2f0746aa6bc081515b8c6d.png" width="90%" alt="wow font text">
                    <h3>&mdash; Asthriona</h3>
                </div>
            </center>
        </div>
    </div>